/* 공용 폰트 css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* reset css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/* #root{
  display: grid;
  grid-template-columns: ;
} */

body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Roboto',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,li{
  list-style:none;
}

a {
  color: inherit; /* 부모 속성 상속*/
  text-decoration: none;
}

input[type=text] , input[type=email] ,input[type=password] {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9e0e6;
}

input:focus{outline: none;}

button{
  cursor: pointer;
  border: none;
  background-color: #fff;
}

button:focus{border: none;}

.hidden{
  display: none;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
