.login_wrap{
  width: 100%;
  height: 100vh;
  position: relative;
}
.login_title{
  font-size: 2em;
  color: blue;
}

#login_form{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 2px solid #ccc;
  padding: 40px;
}